<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>index</title>
    <link rel="stylesheet" href="{% static "css/demo.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  </head>
  <body>

    <div class="container " align="center">
      <div class="jumbotron">
      <h1 class="display-4">Welcome to django Faker Module</h1>
      <h2>Continous jobs updates for every hour...</h2>
      <p><a class="btn btn-primary btn-lg" href="/testapp/hyd" role="button">Hyderabad Jobs</a></p>
      <p><a class="btn btn-primary btn-lg" href="/testapp/bangalore" role="button">Bangalore Jobs</a></p>
      <p><a class="btn btn-primary btn-lg" href="/testapp/chennai" role="button">Chennai Jobs</a></p>
      <p><a class="btn btn-primary btn-lg" href="/testapp/pune" role="button">Pune Jobs</a></p>
      </div>
    </div>

  </body>
</html>
